services:
  postgres:
    image: postgres:15
    container_name: elifoot
    environment:
      POSTGRES_DB: elifoot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: